<h1>Add a participant</h1>

<form action="/participants" method="post">
    <label>Name</label>
    <input type="text" name="name"/>
    <br/>
    <label>Email</label>
    <input type="text" name="email"/>
    <br/>
    <label>Is this you?</label>
    <input type="checkbox" name="is_this_you"/>
    <br/>
    <input type="submit" value="Submit"/>
</form>

<a href="/pair">See your pair</a>